@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #070604;
  color: aliceblue;
}

/* Estilos para el Scroll */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #91919116;
  opacity: 0.8;
}